.all{
  background-color: white;
}


.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width:70%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
.header{
  margin-top: 20px;
  color: rgb(121, 149, 177);
  
  font-weight: bolder;
  font-size: 35px
}
.main {
  display: flex;
  width: 100%;
  margin-top: 20px;
}



.photo {
  position: relative;
  width: 500px;
  height: 700px;
  background-color: rgb(121, 149, 177); 
}


.git{
  position: absolute;
  margin-left: 445px;
  bottom: 0.15em;
}
.git img:hover,
.vel img:hover {
  transform: scale(1.1);
}

.vel{
  position: absolute;
  margin-left: 390px;
  bottom: 0.15em;
}

.my{
  flex-direction: column;
  display: flex;
}

.introduce{
  width: 800px;
  height: 600px;
  background-color: white;
  margin-left: 50px;
  }
.myself{
  margin-top: 50px;
  margin-left: 40px;
}
.front{
  font-size: 20px;
  font-weight: bold;
  color: rgb(102, 141, 180);
}

.end{
  font-size: 20px;
  font-weight: bold;
}

.img{
  position: relative;
  background-image: url(/image/메모지2.png);                                                               
  background-size: cover;
  width: 680px;
  height: 350px;
  background-size: cover; 
}

.img .content{
  position: absolute;
  width: 70%;
  top:57%;
  left:50%; 
  transform: translate(-50%, -50%);                                                                   
  font-size:14px;
  color: black;
  z-index: 2;
}



.hashtag {
  width: 800px;
  height: 50px;
  color: rgb(121, 149, 177);
  margin-top: 44px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
}

.comment {
  margin-top: 50px;
  background-color: rgb(121, 149, 177);
  width: 1000px;

}



.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  width: 800px;
  height: 30px;
}

.comments {
  font-size: 14px;
  font-weight: 500px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.comment-time {
  font-size: 10px;
}

.edit-btn,
.delete-btn {
  font-size: 8px;
  padding: 3px 3px;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
