.all{
  background-color: white;
}


.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width:70%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}

.main {
  display: flex;
  width: 100%;
  margin-top: 50px;
}



.photo {
  position: relative;
  width: 500px;
  height: 700px;
  background-color: rgb(121, 149, 177);

  border: solid;
  border-width: 2px;
  border-color: black;

  box-shadow: 10px 10px 20px gray;  
}


.ins{
  position: absolute;
  margin-left: 445px;
  bottom: 0.15em;
}
.ins img:hover,
.vel img:hover {
  transform: scale(1.1);
}

.vel{
  position: absolute;
  margin-left: 390px;
  bottom: 0.15em;
}

.my{
  flex-direction: column;
  display: flex;
}

.introduce{
  width: 800px;
  height: 600px;
  background-color: rgb(121, 149, 177);
  margin-left: 50px;

  

  box-shadow: 10px 10px 30px gray;  
}


.hashtag {
  width: 800px;
  height: 50px;
  background-color: rgb(121, 149, 177);
  margin-top: 44px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  
 

  box-shadow: 10px 10px 20px gray;
}

.footer {
  display: flex;
}

.comment {
  margin-top: 50px;
  background-color: rgb(121, 149, 177);
  width: 1000px;

  box-shadow: 10px 10px 20px gray;
}



.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  width: 800px;
  height: 30px;
}

.comments {
  font-size: 14px;
  font-weight: 500px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.comment-time {
  font-size: 10px;
}

.edit-btn,
.delete-btn {
  font-size: 8px;
  padding: 3px 3px;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
