
.all{
  width: 100%;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  
  
  flex-wrap: wrap;
  background: url(/image/index-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
  
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:70%;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

.header{
  margin-top: 20px;
  color: rgba(95, 152, 209, 0.925);
  font-weight: bolder;
  font-size: 35px
}
.main {
  display: flex;
  width: 100%;
  margin-top: 20px;
}



.photo {
  position: relative;
  width: 500px;
  height: 700px;
  background-color: rgb(95, 152, 209); 
}


.git{
  position: absolute;
  margin-left: 445px;
  bottom: 0.15em;
}
.git img:hover,
.vel img:hover {
  transform: scale(1.1);
}

.vel{
  position: absolute;
  margin-left: 390px;
  bottom: 0.15em;
}

.my{
  flex-direction: column;
  display: flex;
}

.introduce{
  width: 800px;
  height: 600px;
  margin-left: 50px;
  }
.myself{
  margin-top: 50px;
  margin-left: 40px;
}
.front{
  font-size: 20px;
  font-weight: bold;
  color: rgb(90, 143, 197);
}

.end{
  font-size: 20px;
  font-weight: bold;
  color:rgb(102, 160, 219);
}

.img{
  position: relative;
  background-image: url(/image/메모지3.png);                                                               
  background-size: cover;
  width: 620px;
  height: 350px;
  background-size: cover; 
}

.img .content{
  position: absolute;
  width: 70%;
  top:57%;
  left:50%; 
  transform: translate(-50%, -50%);                                                                   
  font-size:14px;
  color: black;
  z-index: 2;
}



.hashtag {
  width: 800px;
  height: 50px;
  color: rgb(95, 152, 209);
  margin-top: 44px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
}

.comment {
  margin-top: 50px;
  background-color: rgb(121, 149, 177);
  width: 1000px;

}



.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  width: 800px;
  height: 30px;
}

.comments {
  font-size: 14px;
  font-weight: 500px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.comment-time {
  font-size: 10px;
}

.edit-btn,
.delete-btn {
  font-size: 8px;
  padding: 3px 3px;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
