
body {
    background-color: azure;
    width: 100%;
}
.back {
    width: 100%;
    min-height: 100vh;
    background: url(/image/purple.png);
    background-size: cover;
    display: flex;
}
.wrap {
    margin: 100px auto 0;
    width: 1350px;
    height: 100%;;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;


    .center {
        width: 1350px;
        height: 600px;
        display: flex;
        justify-content: space-between;
    
        .pic {
            width: 500px;
            height: 600px;
            background-color: #cfcfcf;
            border: 1px solid black;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 4px 2px 2px 2px rgb(82, 82, 82);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        .main {
            width: 800px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            .profile {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: lavender;
                width: 800px;
                height: 500px;
                border: 1px solid black;
                box-sizing: border-box; 
                box-shadow: 4px 2px 2px 2px rgb(82, 82, 82);

                .pro-p {
                    font-size: 20px;
                }
                h2 {
                    text-decoration: underline;
                }
                p {
                    margin: 10px;
                }
            }
            .hashtag {
                background-color: rgb(230, 230, 250);
                width: 800px;
                height: 50px;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 4px 2px 2px 2px rgb(82, 82, 82);

                .hash {
                    margin: 0 auto;
                    color: rgb(44, 44, 118);
                } 
                
            }
        }
    }
    .comment {
        background-color: rgb(247, 202, 255);
        display: flex;
        justify-content: center;
        width: 1350px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 1px solid black;
        box-sizing: border-box;
        box-shadow: 4px 2px 2px 2px rgb(82, 82, 82);
        margin-top: 50px;
        font-size: 15px;
        font-weight: bolder;
        line-height: 24px;

        form {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .com-fo {
            font-size: 100%;

        }

    }
}