/*****************
    크기 설정 
*****************/
html {
	height: 100%;
}

body {
	width: 1920px;
	height: 1080px;
}

main {
	width: 1300px;
}

#top-section {
	width: 100%;
	height: 50px;
}

#center-section {
	width: 100%;
	height: 700px;
}

#left-section {
	width: 300px;
}

#right-section {
	width: 800px;
}

#bottom-section {
	width: 100%;
	height: 200px;
}

#introduce-article {
	height: 600px;
}

#tags-div {
	height: 50px;
}

#comment-div {
	width: 1000px;
	height: 150px;
}

/*******************
    레이아웃 설정 
*******************/
html {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;

	padding: 30px 50px;
}

#top-section {
	display: flex;
	justify-content: right;
	align-items: center;

	padding-right: 10px;
}

#center-section {
	display: flex;
	justify-content: space-evenly;
}

#left-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#right-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#introduce-article {
	padding: 10px 10px;
}

#tags-div {
	display: flex;
	align-items: center;
}

#tags-div>* {
	margin-left: 10px;
}

#comment-div {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 80% 12%;
}

#comment-content-div {
	/* row-start / col-start / row-end / col-end */
	grid-area: 2 / 2 / span 2 / span 2
}

#comment-content-div {
	overflow-y: scroll;
}

#comment-content-div span {
	display: inline-block;
	width: 80%
}

/* To-do: 그리드 레이아웃 
  -아이템 가운데 정렬 
  -구분선 추가
*/

/*****************
   꾸미기 설정 
*****************/

:root {
	--documentOuterBgColor: #7a2048;
	--documentInnerBgCOlor: #1e2761;
	--topSectionBgColor: #99AEAE;
	--bottomSectionBgColor: #99AEAE;
	--centerSectionBgColor: #408ec6;
	--hashtagDivBgColor: azure;
	--hashTagBgColor: rgba(245, 245, 238, 0.99);
	--introduceDivBgColor: azure;
	--commentDivBgColor: azure;
	--globalOpacity: 75%;
}

body {
	background-color: var(--documentOuterBgColor);
}

main {
	background-color: var(--documentInnerBgCOlor);
}

#top-section {
	background-color: var(--topSectionBgColor);
}

#center-section {
	background-color: var(--centerSectionBgColor);
}

#bottom-section {
	background-color: var(--bottomSectionBgColor);
}

#introduce-article {
	background-color: var(--introduceDivBgColor);
}

#tags-div {
	background-color: var(--hashtagDivBgColor);
}

#tags-div>span {
	background-color: var(--hashTagBgColor);
}

#comment-div {
	background-color: var(--commentDivBgColor);
}